Python Short Course -- Winter 2016

---
Aria Farmand

Homework Assignment 2

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_salary=pd.read_csv('C:/Users/Aria/Documents/Repos/Pratik/data/salary_data.csv')

In [3]:
df_salary.head()

,team,year,player,contract_years_remaining,contract_thru,position,full_name,salary_year,salary_total,year_counter,obs,mean_salary,mean_remaining
0,Boston Celtics,2002-03,"Bremer, J.R.",1,2002-03,G,Bremer,349458,349458,1,2,456568.5,1
1,Cleveland Cavaliers,2003-04,"Bremer, J.R.",1,2003-04,G,Bremer,563679,563679,2,2,456568.5,1
2,Charlotte Hornets,2001-02,"Brown, P.J.",7,2002-03,F,Brown,6404800,36000000,1,6,7668267,5
3,New Orleans Hornets,2002-03,"Brown, P.J.",7,2002-03,F,Brown,7044800,36000000,2,6,7668267,5
4,New Orleans Hornets,2003-04,"Brown, P.J.",4,2006-07,F,Brown,8000000,34000000,3,6,7668267,5

A) Create a Class SportsFigure, which has the attributes-
1. name
2. mean_salary
3. team
4. position

B) The Class should also consist of functions which allow you to-
1. An init function that sets the attributes upon object creation
2. An output function that prints the attributes on screen

C) You should be able to create an object for each player from the salary data file.

In [4]:
class SportsFigure:
    def __init__(self,player,mean_salary,team,position):
        self.player=player
        self.mean_salary=mean_salary
        self.team=team
        self.position=position
    def displayplayer(self):
        return self.player
    def displaymeansalary(self):
        return self.mean
    def displayteam(self):
        return self.team
    def displayposition(self):
        return self.position
    def displaySportsFigure(self):
        return 'Name:' , self.player, 'Mean Salary:' , self.mean_salary, 'Team:' , self.team, 'Position:' , self.position
    @classmethod
    def teams_start_with (cls,startswith)
    return [t for t in cls.SportsFigure if t.startswith(startswith)]

pj_brown=SportsFigure("Brown, P.J.", 7668267, "New Orleans Hornets", "F" )
pj_brown.displaySportsFigure()

('Name:',
 'Brown, P.J.',
 'Mean Salary:',
 7668267,
 'Team:',
 'New Orleans Hornets',
 'Position:',
 'F')

In [5]:
pj_brown.displayplayer()

'Brown, P.J.'

In [6]:
pj_brown.displayteam()

'New Orleans Hornets'